{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form method="POST" action="{% url 'game_input_form' event.slug roster.slug %}">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label }} {{ field }}
            </div>
        {% endfor %}

        {{ formset.management_form }}
        {% for game_form in formset %}
            {{ game_form.id }}
            <div>
                <label>{{ game_form.scr_score.label }}</label>
                {{ game_form.scr_score }}
            </div>
        {% endfor %}

        <button type="submit" class="btn">Confirm</button>
    </form>
{% endblock content %}