/* Resetting Defaults */
* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(211, 211, 211);
}

/* NAVBAR */
nav {
    font-family: 'Courier New', Courier, monospace;
    vertical-align: center;
}

.header__brand {
    font-family: 'Protest Revolution';
    font-size: 180%;
    color: rgb(207, 63, 54) !important;
    margin: 5px 10px;
    margin-right: 30px;
}

.nav-item {
    margin-right: 20px;
}

.nav-item, .dropdown-item {
    font-size: 125%;
    font-weight: bolder;
}

.nav-link, .dropdown-item {
    color: rgb(211, 211, 211) !important;
}

/* LOGIN/REGISTER */
.auth__wrapper {
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 13px 13px 20px rgb(211, 211, 211), -13px -13px 20px black;
    max-width: 500px;
    min-height: 500px;
    padding: 40px 30px 30px 30px;
    margin: 80px auto;
}

.logo {
    width: 200px;
    margin: auto;
}

img.auth__logo {
    width: 100%;
    object-fit: cover;
}

.auth__header {
    font-family: 'Protest Revolution';
    font-size: 225%;
    font-weight: 600;
    letter-spacing: 1.3px;
}

.auth__form .form-field {
    margin-bottom: 20px;
}

.auth__form .form-field input {
    display: block;
    background-color: rgb(211, 211, 211) !important;
    border: 1px solid black;
    border-radius: 20px;
    outline: none;
    font-size: 1.2rem;
    width: 100%;
    padding: 10px 15px 10px 10px;
}

.auth__form .form-field input::placeholder {
    color: black;
}

.auth__wrapper .btn {
    background-color: black;
    color: rgb(211, 211, 211);
    font-size: 120%;
    border-radius: 25px;
    box-shadow: none;
    height: 40px;
}

.auth__wrapper .btn:hover {
    background-color: rgb(10, 10, 10);
}

.auth__link p {
    color: black;
}

.auth__link p, .auth__link a {
    font-size: 110%;
}

@media(max-width: 300px) {
    .auth__wrapper {
        padding: 40px 15px 15px 15px;
        margin: 30px 20px;
    }
}

/* Profiles/Accounts */
.profile__container {
    margin-top: 20px;
    text-align: left;
    padding: 15px;
}

.profile__card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    word-wrap: break-word;
    min-width: 0;
}

.profile__card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.profile-info__label, .profile-admin__header {
    font-weight: bolder;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.message__btn {
    color: black;
    background-color: rgb(211, 211, 211);
    border: 1px solid black;
}

.message__btn:hover {
    background-color: rgb(201, 201, 201);
    border: 1px solid black;
}

.profile-league__link, .profile-tournament__link {
    color: black;
}

/* Account Edit Form */
.edit-account__input {
    width: 80%;
    padding: 2px 5px;
}

.edit-account__btn {
    color: black;
    background-color: #f0f0f0;
    border: 1px solid black;
}

.edit-account__btn:hover {
    background-color: rgb(211, 211, 211);
    border: 1px solid black;
}