{% extends 'base.html' %}
{% load static %}

{% block content %}
    <p>Name: {{ league.name }}</p>
    <p>
        Admins: 
        {% for admin in league.admins.all %}
            {{ admin }},
        {% endfor %}
    </p>
    <p>Number of Games: {{ league.num_games }}</p>
    <p>
        Bowling Centers: 
        {% for bc in league.bowling_centers.all %}
            {{ bc }},
        {% endfor %}
    </p>
    <p>Start Date: {{ league.start_date }}</p>

    <a href="{% url 'edit_league' league.id %}" class="btn">Edit League</a>
    <br>
    <a href="{% url 'register_league_sidepot' league.id %}" class="btn">Register Sidepot</a>

    {% for sidepot in league.league_sidepots.all %}
        <p>Type: {{ sidepot.get_type_display }}</p>
        <!-- <p>Handicap: {{ sidepot.is_handicap }}</p>
        <p>Entry Fee: ${{ sidepot.entry_fee }}</p>
        <p>Payout Ratio: 1:{{ sidepot.payout_ratio }}</p>
        <p>Games: {{ sidepot.games_used }}</p>
        <p>Reverse: {{ sidepot.is_reverse }}</p>
        <p>Multiple Entries: {{ sidepot.allow_multiple_entries }}</p> -->
        
        <a href="{% url 'edit_league_sidepot' league.id sidepot.id %}" class="btn">Edit Sidepot</a>
    {% endfor %}
{% endblock content %}