{% extends "base.html" %}

{% load static %}

{% block content %}
    <form method="POST"
          {% if league %} action="{% url 'edit_league' league.slug %}" {% else %} action="{% url 'create_league' %}" {% endif %}>
        {% csrf_token %}
        {% for field in form %}{{ field.label.title }} {{ field }}{% endfor %}

        <button type="submit" class="btn">
            {% if league %}
                Save and Exit
            {% else %}
                Create
            {% endif %}
        </button>
    </form>
{% endblock content %}
